body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #1c8f4c;
}

header span.animated {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  text-align: center;
}

.navbar,
.navbar-brand {
  width: 100%;
  float: left;
  height: 100px;
  background-color: #3298dc;
  align-items: stretch;
  display: flex;
}

.navbar-menu {
  background: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-size: 1.125em;
  width: 100;
}

.navbar-item {
  color: white;
  padding: 0;
  list-style: none;
}

.control {
  text-align: center;
}



.ISSPanel {
  background-color: #3298DC;
  height: 230px;
  z-index: 5;
  text-align: center;
}
.column.is-4,
.column.is-4-tablet {
  flex: none;
  width: 33.33333%;
}
.title {
  text-align: center;
  font-size: 1vw;
}
.tile:not(.is-child) {
  display: block;
}
.spacediv {
  z-index: 3;
  display: flex;
}
.section {
  padding: 0;
}
.apod {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

#titleApp,
#animateT {
  text-align: center;
  font-family: Helvetica;
  font-size: 10vw;
  font-family: sans-serif;
  font-weight: bold;
  align-self: center;
  color: white;
}
#issColumn {
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
}
#apodTile {
  margin-top: 26%;
  align-items: center;
  overflow: auto;
}

#apodLink {
  font-size: 1vw;
  color: white;
  padding: 20px;
}

span {
  display: inline-block;
}

#info {
  font-size: 3vh;
}

#spaceImg {
  width: auto;
  max-width: 100%;
  height: auto;
}

#Sdate {
  font-size: 20px;
  text-align: center;
}

#spaceTitle {
  text-align: center;
}

.map-header {
  padding-top: 25%;
}


